[DEFAULT]
ENABLE_EMR=true
ENABLE_DDE=true
ENABLE_EMC=true
ENABLE_MYSQL=true
ENABLE_REDIS=true
ENABLE_PORTAINER=true
ENABLE_CORE=true

# GitHub Repositories
EMR_API_REPO=https://www.github.com/HISMalawi/BHT-EMR-API.git
DDE_REPO=https://www.github.com/HISMalawi/Demographics-Data-Exchange.git
EMC_REPO=https://www.github.com/EGPAFMalawiHIS/emc-new-arch.git
CORE_REPO=https://www.github.com/HISMalawi/HIS-Core-release.git

# RAILS Configuration
RAILS_MAX_THREADS=5

# MySQL Configuration
MYSQL_ROOT_PASSWORD=root_password

# Portainer Admin Credentials
PORTAINER_ADMIN_USERNAME=admin
PORTAINER_ADMIN_PASSWORD=Extremely1Secure!
